[% META title=" Cadastrar " current_page="encontrotecnico" %]

      <div id="container_top">
        <div id="container_bottom">
          <div class="top">
            <h2>Cadastrar</h2>
            <div class="whois">

		
        <p>Bem Vindo, para desfrutar do Encontro Técnico é só se cadastrar abaixo:</p>

        [% form.render %]

		</div>
          </div>
        </div>
      </div>


