[% META title=" Encontro t&eacute;cnico " current_page="encontrotecnico" %]

      <div id="container_top">
        <div id="container_bottom">
          <div class="top">
            <h2>S&atilde;o Paulo Perl Workshop</h2>
            <div class="whois">

		<p>Você já está cadastrado nesse evento com esse email!</p>


		</div>
          </div>
        </div>
      </div>


