body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p {
    margin:0;
    padding:0;
    font-weight:normal;
  }


img,fieldset {
    border:none;
    padding:0;
    margin:0;
  }


body {
    font:14pt Arial, Helvetica, sans-serif;
    color: #333;
    background:url(/static/images/q.gif) repeat 0px 0px;
  }


span.clear {
    clear:both;
W}


.left {
    float:left;
    width:auto;
  }


.right {
    float:right;
    width:auto;
  }


#layout {
    background:url(/static/images/layout_bg.gif) repeat-x 0px 0px;
  }


#inner_layout {
    width:1040px;
    margin:0px auto;
  }


#links {
    background:#bc0108;
  }


#links ul {
    text-align:right;
    padding:5px 10px 5px 0px;
  }


#links ul li {
    list-style:none;
    color:#fff;
    font:bold 8px Kroeger0553, Myriad Pro, Arial;
    text-transform:uppercase;
    display:inline;
    padding-right:6px;
  }


#links ul li a {
    color:#fff;
    text-decoration:none;
  }


#header {
    padding:0px 23px 0px 27px;
    background:url(/static/images/header_bg.png) no-repeat 0px 0px;
  }


#header .header {
    background:url(/static/images/header_bg.jpg) no-repeat 0px 0px;
    height:95px;
    padding-right:17px;
  }


#header .header .logo {
    float:left;
    padding:20px 0px 0px 20px;
  }


#header .header .search {
    border:solid 2px #939191;
    float:right;
    background:#323232;
    margin:68px 0px 0px 0px;
    width:202px;
  }


#header .header .search fieldset {
    float:right;
  }


#header .header .search * {
    vertical-align:middle;
  }


#header .header .search .textbox {
    background:none;
    border:0;
    color:#FFFFFF;
    padding:4px 5px;
    font:10px Tahoma, Arial, Helvetica, sans-serif;
    width:165px;
    float:left;
    height:auto;
  }


#header .header .search input {
    float:left;
    width:20px;
    height:16px;
  }


#menu {
    background:url(/static/images/navigation.gif) repeat-x 0px 0px;
    height:40px;
    padding:1px 0px;
  }


#menu ul li {
    list-style:none;
    float:left;
    padding:0px 15px;
  }


#menu ul li a {
    float:left;
    height:40px;
  }


#menu ul li.current {
    background:url(/static/images/arrow.gif) no-repeat 50% 0px;
  }


#menu ul li.pipe {
    background:url(/static/images/pipe.gif) no-repeat 0px 0px;
    width:18px;
    height:40px;
    padding:0px;
}

#menu ul li a {
color:white;
font-family:monospace;
font-size:10pt;
font-weight:bold;
height:1em;
margin-top:11px;
text-decoration:none;
text-transform:uppercase;
}

#menu ul {overflow: hidden;}


#container {
    background:url(/static/images/container_bg.png) repeat-y 0px 0px;
    padding:0px 18px 0px 22px;
  }


#container_top {
    background:url(/static/images/container_top.gif) repeat-x 0px 0px;
    width:100%;
    overflow:hidden;
    padding-top:14px;
  }


#container_bottom {
    background:url(/static/images/container_bottombg.gif) repeat-x 0px 100%;
    padding:5px 11px;
    width:978px;
    float:left;
  }


#container_left {
    width:740px;
    float:left;
    overflow:hidden;
  }


#container p {
    color:#757575;
    text-align: justify;
    font:12pt Tahoma, Arial, Helvetica, sans-serif;
    margin-bottom:12px;
    line-height:1.5em;
  }

#container dl {
    font:14px Tahoma, Arial, Helvetica, sans-serif;
    margin-bottom:12px;
    line-height:15px;
    color:#b80107;
    font-weight:bold;
    padding-left:25px;
  }


#container pre {
    font:14px Courier;
    margin: 10px 10px 25px 20px;
    padding-left:25px;
    color:#000;
    background: #ddd;
}



.box h1 {
    background:url(/static/images/square.gif) no-repeat 10px 12px;
    padding:4px 0px 4px 25px;
    font:16px Tahoma, Arial, Helvetica, sans-serif;
    color:#b80107;
    font-weight:bold;
  }


#container_left .box h2.pad {
    padding-left:25px;
  }


#container .box h3 {
    font:bold 14px Tahoma, Arial, Helvetica, sans-serif;
    color:#b80107;
    margin-bottom:2px;
  }


#container_left .box p {
    padding:0px 10px;
  }


#container_left .box h2.mias {
    background:url(/static/images/mais_heading.jpg) no-repeat 0px 0px;
    height:32px;
    text-indent:-1000em;
    border-bottom:none;
    margin-bottom:0px;
  }



#container_left .box .small_box h3 {
    font:bold 12px Tahoma, Arial, Helvetica, sans-serif;
    padding:4px 8px;
    color:#b80107;
  }


#container_left .box .small_box .heading {
    margin-bottom:7px;
    padding-left:0px;
  }


.box {
    border:solid 1px #e2e2e2;
    padding:16px 8px;
    background:#FEFEFE url(/static/images/grad1.gif) repeat-x 0px 100%;
    margin-bottom:10px;
  }


.link {
    border:solid 1px #c8c8c8;
    background:url(/static/images/grad2.gif) repeat-x 0px 0px;
    text-align:right;
  }


.link a {
    color:#00552c;
    font:8px Kroeger0553, Myriad Pro, Arial;
    text-decoration:none;
    text-transform:uppercase;
    line-height:14px;
    padding:0px 10px;
    background:url(/static/images/arrow1.gif) no-repeat 4px 3px;
  }


#container .link p {
    margin-bottom:0px;
    font-size:10px;
    padding-left:10px;
    color:#00552C;
  }


.box.video_list {
    background:#f5f5f5;
  }


#container_right {
    width:230px;
    float:right;
  }


#container_right .box {
    border:none;
    margin-bottom:0px;
    background:none;
  }


.box .heading {
    background:url(/static/images/dots.gif) repeat-x 0px 100%;
    margin-bottom:19px;
  }


#sidebar {
    background:url(/static/images/right_box_top.gif) no-repeat 100% 0px;
    width:100%;
    float:left;
  }


#sidebar_middle {
    background:url(/static/images/right_box_middle.gif) repeat-y 100% 0px;
    width:100%;
    float:left;
  }


#sidebar_bottom {
    background:url(/static/images/right_box_bottom.gif) no-repeat 100% 100%;
    width:100%;
    float:left;
  }


h2.categoris {
    background:url(/static/images/categories.gif) no-repeat 0px 0px;
    height:43px;
    text-indent:-1000em;
  }


#container .file {
    padding-top:35px;
  }


#container .file p {
    margin-bottom:5px;
  }


.file input {
    width:478px;
    color:#757575;
    font:11px Tahoma, Arial, Helvetica, sans-serif;
    border:solid 1px #dddddd;
    padding:4px;
  }


.video {
    background:#f0f6e9;
    padding:10px;
    border:solid 1px #dde7d4;
    float:left;
    margin-right:20px;
  }


.video_post {
    width:960px;
    overflow:hidden;
  }


.autores {
    margin-bottom:25px;
  }


.autores h2 {
    background:url(/static/images/autores.gif) no-repeat 0px 0px;
    height:34px;
    text-indent:-1000em;
    margin-bottom:10px;
  }


.autores fieldset * {
    vertical-align:middle;
  }


.autores fieldset select {
    width:165px;
    margin-right:7px;
  }


#container_right ul.list li {
    list-style:none;
    font:11px Tahoma, Arial, Helvetica, sans-serif;
    background:url(/static/images/dots.gif) repeat-x 0px 100%;
    padding:7px 0px;
  }


#container_right ul.list li span {
    font-size:10px;
  }


#container_right ul.list li a {
    background:url(/static/images/arrow2.gif) no-repeat 0px 5px;
    color:#757575;
    padding-left:10px;
    margin-left:2px;
    text-decoration:none;
  }


#container_right ul.list li a.current {
    color:#b80107;
  }


a.expand {
    float:right;
    margin-top:10px;
    color:#bdbdbd;
    text-decoration:none;
    padding-bottom:2px;
  }


.box.sub_box {
    width:722px;
    overflow:hidden;
  }


.box.post .link {
    text-align:left;
  }


#container_left .box.post .link p {
    margin-bottom:0px;
    font-size:9px;
    color:#00552c;
  }


.box.post .link a, #container .section .video_description .link a {
    color:#b80107;
    background:url(/static/images/red_arrow.gif) no-repeat 0px 5px;
    float:right;
  }


.blog_links {
    margin-bottom:15px;
  }


.blog_links h2 {
    background:url(/static/images/blog_links.gif) no-repeat 0px 0px;
    height:42px;
    text-indent:-1000em;
  }


.video_list .heading {
    margin-bottom:10px;
  }


.video_list .section {
    width:100%;
    overflow:hidden;
    padding:10px 0px;
  }


.section .video_pic {
    float:left;
    padding:6px;
    background:#fff;
  }


.section .video_description {
    width:715px;
    float:right;
  }


#container .section .video_description p {
    font-size:9px;
  }


#container .section .video_description .link {
    text-align:left;
  }


#container .section .video_description .link a {
    float:right;
  }


#container .top {
    width:100%;
    float:left;
    padding:20px 0px;
    margin-bottom:10px;
  }


#container .top_left {
    width:590px;
    float:left;
 
    padding:0px 0px 0px 20px;
  }



#container .top h4 {
    font:17px Arial, Helvetica, sans-serif;
    margin-bottom:10px;
    padding:5px 0px;
    text-transform:uppercase;
  }


#container .top h3 {
    font:20px Arial, Helvetica, sans-serif;
    background:url(/static/images/dots.gif) repeat-x 0px 100%;
    margin-bottom:10px;
    padding:5px 0px;
    text-transform:uppercase;
  }

#container .top ul li {
    color:#00552c;
    font:14px Arial, Helvetica, sans-serif;
    list-style:disc;
    margin-bottom:5px;
    padding:0px 0px;
    margin-left:32px
  }


#container .top ul li.first {
    background:none;
  }


#container .top ul li a {
    padding-left:8px;
    color:#00552c;
    text-decoration:none;
  }


#container .top h1 {
    font:20pt Arial, Helvetica, sans-serif;
    color:#bc0108;
	border-bottom: 1px dotted black;
    margin-bottom:10px;
    padding:5px 0px;
    text-transform:uppercase;
  }


#container .top h2 {
    font:16pt Arial, Helvetica, sans-serif;
    color:#bc0108;
    margin-bottom:10px;
    padding:5px 0px;
    text-transform:uppercase;
  }

#container .top_right {
    width:320px;
    float:right;
  
    padding:0px 0px 15px 20px;
	margin-right:20px;
  }


#container .bottom {
    background:url(/static/images/middle_bg.gif) repeat-y 0px 0px;
    clear:both;
    margin-bottom:10px;
  }


#container .bottom_top {
    background:url(/static/images/top_bg.gif) no-repeat 0px 0px;
  }


#container .bottom_bottom {
    background:url(/static/images/bottom_bg.gif) no-repeat 0px 100%;
    width:100%;
    overflow:hidden;
  }


#container .bottom .left_section {
    width:978px;
    float:left;
  }


#container .bottom .right_section {
    width:395px;
    float:right;
    padding:10px 0px 0px 8px;
  }


#container .bottom .left_section .side {
    width:460px;
    float:left;
    padding:13px 0px 15px 20px;
  }

#container .bottom .left_section .side_largo {
    width:940px;
    
  }

#container .bottom .left_section .side .artigos {
    background:url(/static/images/artigos_heading.gif) no-repeat 0px 0px;
    height:40px;
  }

#container .bottom .left_section .side .documentacao {
    background:url(/static/images/documentacao_heading.png) no-repeat 0px 0px;
    height:40px;
  }


#container .bottom .left_section .side .comunidade {
    background:url(/static/images/comunidade_heading.png) no-repeat 0px 0px;
    height:40px;
  }



#container .bottom .left_section .side .blog {
    background:url(/static/images/blog_heading.gif) no-repeat 0px 0px;
    height:40px;
  }


#container .bottom h3 {
    color:#bc0108;
    padding:5px 0px;
    background:url(/static/images/dots.gif) repeat-x 0px 100%;
    margin-bottom:5px;
    font:bold 16px Tahoma, Arial, Helvetica, sans-serif;
  }


#container .bottom .list_heading {
    margin:20px 0px 0px 0px;
    background:url(/static/images/plus_bg.gif) no-repeat 0px 0px;
    height:29px;
    padding-left:22px;
  }


#container .bottom .list_heading h4 {
    color:#858585;
    text-transform:uppercase;
    font:9px Arial, Helvetica, sans-serif;
    line-height:17px;
  }


#container .bottom ul li {
    color:#00552c;
    font:9px Tahoma, Arial, Helvetica, sans-serif;
    list-style:none;
    background:url(/static/images/dots.gif) repeat-x 0px 0px;
    padding:10px 0px;
  }


#container .bottom ul li.first {
    background:none;
  }


#container .bottom ul li a {
    background:url(/static/images/arrow2.gif) no-repeat 0px 4px;
    padding-left:8px;
    color:#00552c;
    text-decoration:none;
  }


#container .bottom .right_section .box1 {
    width:180px;
    float:left;
    padding:0px 5px 0px 10px;
  }


#container .bottom .right_section .box1 h2.podcast {
    background:url(/static/images/podcast_heading.gif) no-repeat 0px 0px;
    height:42px;
  }


#container .bottom .right_section .box1 h2.treinamento {
    background:url(/static/images/treinamento_heading.gif) no-repeat 0px 0px;
    height:42px;
  }


#container .bottom .right_section .full {
    width:385px;
    padding:10px 0px 0px 8px;
    float:left;
  }


#container .bottom .right_section .full h2.etv {
    background:url(/static/images/etv_heading.gif) no-repeat 0px 0px;
    height:41px;
    margin-bottom:10px;
  }


#container .bottom .right_section .full .box2 {
    width:180px;
    float:left;
    padding-left:18px;
  }


#container .bottom .right_section .full .box2.first {
    padding-left:0px;
  }


#container .bottom .right_section .full .box2 img {
    background:#fff;
    padding:4px;
    margin-bottom:10px;
  }


#container .bottom .right_section .full .box2 p {
    font:9px Arial, Helvetica, sans-serif;
  }


#container .whois p {
    color : #555;
    font-family : 'Trebuchet MS', Verdana, Geneva, Arial, Helvetica, 'Sans Serif';
    font-size : 16px;
    line-height : 140%;
    margin-bottom : 25px;
    margin-left : 20px;
    margin-right : 10px;
    margin-top : 10px;
  }


#footer {
    background:url(/static/images/footer_bg.png) repeat-x 0px -5px;
    padding:0px 22px 20px 27px;
	margin-bottom: 40px;
}


#footer #inner_footer {
    background:url(/static/images/black_footer_bg.gif) repeat-x 0px 0px;
    height:71px;
}


#footer #inner_footer ul {
    float:left;
    list-style:none;
    padding:30px 0px 0px 20px;
  }


#footer #inner_footer ul li {
    display:inline;
    padding-right:10px;
  }


#footer #inner_footer ul li a {
	color:#FFFFFF;
	font:bold 8pt Tahoma, Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-transform:uppercase;
}


#footer #inner_footer ul li a:hover {
    text-decoration:underline;
  }


#footer #inner_footer .copyright {
    float:right;
    padding:30px 30px 0px 0px;
  }


#footer #inner_footer .copyright p {
    color:#b5b5b5;
    font:9px Tahoma, Arial, Helvetica, sans-serif;
  }


.wrap {
    width:100%;
    float:left;
  }

label
{
    font:12px Arial, Helvetica, sans-serif;
    width: 15em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}


fieldset{
    border: 0;
}

fieldset.area{
    border: 1px solid;
    color: #333333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

fieldset.area legend{
    font-weight: bolder;
}

/* CRON area! */
.withShadowBox {
    /*-moz-border-radius:15px 15px 15px 15px; saiu do padrao do site.*/
    -moz-box-shadow:5px 5px 0 #DDDDDD;
    background-color:white;
    padding:0 30px;
    /*TODO fazer isso pro chorme/ie9 quando estiver online*/
}
 
#logos_perl {
    margin:0 auto;
    width:372px;
}