#contentcallendar .calendar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#contentcallendar .calendar td {
    text-align: center;
}

#contentcallendar .calendar th {
    padding: 5px;
    border: 1px solid #ddd;
    background: #f0f0f0;
}

#contentcallendar .calendar td {
    padding: 5px;
}

#contentcallendar .calendar td.link {
    padding: 0;
}

#contentcallendar .calendar td.today {
    background: #797;
}

#contentcallendar .calendar td.today a {
    border: 1px solid #575;
    color: #fff;
}

#contentcallendar .calendar td.today a:hover {
    background: #bdb;
    color: #444;
}

#contentcallendar .calendar a {
    display: block;
    padding: 5px;
    border: 1px solid #eee;
    text-decoration: none;
    color: #444;
}

#contentcallendar .calendar a:hover {
    background: #f0f0f0;
}


