[% META title=" Contato " %]

      <div id="container_top">
        <div id="container_bottom">
          <div class="top">
            <h2>Calend&aacute;rio [% year %]</h2>
            <div class="whois">
<p>

<ul>
[% FOREACH item = events %]
<li> [% item.data %] - <a href="[% item.url %]">[% item.name %]</a></li>
[% END %]
</ul>

</p>
		</div>
          </div>
        </div>
      </div>


