
[% META title=" Artigos " current_page="artigos" %]

      <div id="container_top">
        <div id="container_bottom">
          <div class="top">
            <h2>Artigos</h2>
            <div class="whois">

    [% INCLUDE site/listar_artigos.tt %]

    [% INCLUDE site/disqus.tt %]

		</div>
          </div>
        </div>
      </div>


