[% template = {title => eqtitle} %]

[% META current_page="artigos" %]

      <div id="container_top">
        <div id="container_bottom">
          <div class="top">
            <h2>Artigos</h2>
            <div class="whois">

		[% pod %]

		[% INCLUDE site/disqus.tt %]

		</div>
          </div>
        </div>
      </div>


