
[% META title=" Lista " current_page="lista" %]

<div id="container_top">
	<div id="container_bottom">
		<div class="top">
			<h2>Lista SP-PM</h2>
				<div class="whois">
				<p>
					A lista de email dos S&atilde;o Paulo Perl Mongers est&aacute; ativa desde 2004, e depois de todo esse tempo, o grupo tem algumas dicas de como se dar bem e aproveitar o m&aacute;ximo possivel das pessoas e do site da S&atilde;o Paulo Perl Mongers! Quando entrar na lista responda ao email de boas vindas se apresentando, conte-nos um pouco da sua experi&ecirc;ncia e suas expectativas. Voc&ecirc; pode se inscrever ou desinscrever da lista e acessar o hist&oacute;rico de mensagens nos links abaixo:
				</p>
				<p>
                    <table border="0" width="80%" class="withShadowBox listaCodigoTable">
                        <tr>
                            <td align="right">my $list =</td>
                            <td><a href="http://mail.pm.org/mailman/listinfo/saopaulo-pm">http://mail.pm.org/mailman/listinfo/saopaulo-pm</a>-&gt;subscribe();</td>
                        </tr>
                        <tr>
                            <td align="right">our @hist&oacute;rico =</td>
                            <td><a href="http://mail.pm.org/pipermail/saopaulo-pm/">http://mail.pm.org/pipermail/saopaulo-pm/</a></td>
                        </tr>
                        <tr>
                            <td align="right">-&gt;search(</td>
                            <td>
                                <!-- Taken from: http://www.askdavetaylor.com/how_can_i_add_a_google_search_box_to_my_web_site.html -->
                                <form method="get" action="http://www.google.com/search">
                                    <input type="text"   name="q" size="31" maxlength="255" value="" />
                                    <input type="submit" value="Google Search" /> );
                                    <input type="hidden" name="sitesearch"  value="mail.pm.org/pipermail/saopaulo-pm/" />
                               </form>
                            </td>
                        </tr>
                        <tr><td></td><td>&nbsp;</td></tr>
                        <tr>
                            <td align="right">my $gmane = { lista =&gt; </td>
                            <td><a href="http://dir.gmane.org/gmane.comp.lang.perl.perl-mongers.saopaulo">http://dir.gmane.org/gmane.comp.lang.perl.perl-mongers.saopaulo</a>, </td>
                        </tr>
                        <tr>
                            <td align="right">nntp =&gt; </td>
                            <td><a href="nntp://news.gmane.org/gmane.comp.lang.perl.perl-mongers.saopaulo">nntp://news.gmane.org/gmane.comp.lang.perl.perl-mongers.saopaulo</a>, </td>
                        </tr>
                        <tr>
                            <td align="right">blog =&gt; </td>
                            <td><a href="http://blog.gmane.org/gmane.comp.lang.perl.perl-mongers.saopaulo">http://blog.gmane.org/gmane.comp.lang.perl.perl-mongers.saopaulo</a>, };</td>
                        </tr>
                    </table>
				</p>
				<p>
					O ambiente da lista &eacute; descontra&iacute;do e de alto n&iacute;vel t&eacute;cnico. Nela &eacute; esperado que se use um bom Portugu&ecirc;s, respeito e educa&ccedil;&atilde;o para que a comunica&ccedil;&atilde;o aconte&ccedil;a da melhor forma poss&iacute;vel. Por favor n&atilde;o use "migux&ecirc;s" ou algo parecido. Quase todos os clientes de email, inclusive web, t&ecirc;m corretores ortogr&aacute;ficos.
				</p>
            <h3>Leituras & Perguntas</h3>
                <p>As pessoas da lista s&atilde;o, em sua maioria, entusiastas e profissionais em busca de <b>troca</b> de conhecimento. Lembre-se que ningu&eacute;m &eacute; <b>obrigado</b> a resolver os seus problemas, e que o respeito que voc&ecirc; demonstrar com os outros ser&aacute; crucial para determinar o respeito os outros dar&atilde;o a voc&ecirc;. Isso dito, antes de perguntar, recomendamos a leitura dos seguintes textos:</p>
                <ul>
                    <li>Como Fazer Perguntas Inteligentes, Eric S. Raymond (Portugu&ecirc;s, Tradu&ccedil;&atilde;o: Marcos Machado) <br/>
                        <i><a href="http://www.istf.com.br/perguntas/" target="_blank">http://www.istf.com.br/perguntas/</a></i></li>
                    <li>Guia de "Netiqueta" - RFC 1855, Sally Hambridge (Ingl&ecirc;s, T&iacute;tulo original: <i>Netiquette Guidelines</i>) <br/>
                        <i><a href="http://www.ietf.org/rfc/rfc1855.txt" target="_blank">http://www.ietf.org/rfc/rfc1855.txt</a></i></li>
                    <li>Como se Tornar um Hacker, Eric S. Raymond (Portugu&ecirc;s, Tradu&ccedil;&atilde;o: Rafael Caetano) <br/>
                        <i><a href="http://www.linux.ime.usp.br/~rcaetano/docs/hacker-howto-pt.html" target="_blank">http://www.linux.ime.usp.br/~rcaetano/docs/hacker-howto-pt.html</a></i></li>
                    <li>Perguntas Frequents de Perl (Ingl&ecirc;s, T&iacute;tulo original: <i>perlfaq</i>) <br/>
                        <i><a href="http://faq.perl.org/" target="_blank">http://faq.perl.org/</a></i></li>
                    <li>Wikip&eacute;dia: Postagem Cruzada (Ingl&ecirc;s, T&iacute;tulo original: <i>Crossposting</i>) <br/>
                        <i><a href="http://en.wikipedia.org/wiki/Crossposting" target="_blank">http://en.wikipedia.org/wiki/Crossposting</a></i></li>
                    <li>Recomenda&ccedil;&otilde;es de livros da Rio-PM <br/>
                        <i><a href="http://rio.perl.org.br/livros.pl" target="_blank">http://rio.perl.org.br/livros.pl</a></i></li>
                </ul>
                <p>Sugerimos aos iniciantes que leiam bastante. Leiam primeiro, perguntem depois - todo mundo come&ccedil;ou um dia sem saber nada, mas se voc&ecirc; quer que os outros te ajudem, mostre que est&aacute; disposto a se esfor&ccedil;ar para aprender.</p>
            <h3>Outros Canais</h3>
				<p><b><a name="IRC">IRC</a></b>: Servidor <a href="http://www.irc.perl.org/">irc.perl.org</a>, canal #sao-paulo.pm</p>
				<p><b>LinkedIn</b>: Grupo <a href="http://www.linkedin.com/groups?about=&gid=64857&trk=anet_ug_grppro" target="_blank">S&atilde;o Paulo Perl Mongers</a></p>
			</div>
		</div>
	</div>
</div>

