<div id="inner_footer">
	<ul>
		<li><a href="[% c.uri_for('/vaquinha') %]">Vaquinha</a></li>
		<li><a href="[% c.uri_for('/treinamento') %]">Treinamento</a></li>
		<li><a href="[% c.uri_for('/equinocio','2010') %]">Meses do Equin&oacute;cio</a></li>
		<li><a href="[% c.uri_for('/empresas') %]">Empresas</a></li>
	</ul>
	<div class="copyright">
		<p>Copyleft S&atilde;o Paulo Perl Mongers.</p>
	</div>
</div>
