<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Sao Paulo Perl Mongers" />
	
	[% IF template.current_page == 'home' %]
	<meta name="description" content="Grupo de programadores Perl do estado de São Paulo." />
	[% END %]

	<meta name="keywords" content="linguagem, computacao, computacional, perl, comunidade, softwarelivre, sao paulo" />

    <script src="/static/js/jquery.min.js" type="text/javascript"></script>

	<link rel="stylesheet" href="/static/styles.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/calendar.css" type="text/css" />
	<link rel="stylesheet" href="/static/print.css" type="text/css" media="print"  />

    <title>S&atilde;o Paulo Perl Mongers :: [% template.title %]</title>
    <meta name="google-site-verification" content="B6Qa53hLtW0qem5IuI8QHE6IhruXMMrRnL2iwnMIdHE" /> 
 </head>
 <body>

<div id="layout">
	<div id="inner_layout">
		<div id="header" class="png_bg">
			[% PROCESS site/site_base/header.tt %]
		</div>

		<div id="container" class="png_bg">

			[% content %]
            <center><br /><br />
            <div>
				<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
					<a class="addthis_button_facebook"></a>
					<a class="addthis_button_twitter"></a>
					<a class="addthis_button_email"></a>
					<a class="addthis_button_google"></a>
					<a class="addthis_button_compact"></a>
				</div>
			</div>
            <br /><br /><center/>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4caea3431b6a7690"></script>
		</div>
        <div id="footer">
        [% PROCESS site/site_base/footer.tt %]
        </div>
	</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12787073-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
